body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rowC{
  display:flex;
 align-items: center;
  justify-content: center;
}

.myDrop{ max-height:250px; overflow:auto; }

.sidebar {
  width: 200px;
  height: 100vh;
  position: static;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.mainContent{

  margin-left: 15px;
}

.bg-grey{
  background-color: #f2f2f2;
  height: 100vh;
  text-align: center;
}

.my-5 {

  margin: 7px !important;
  padding: 10px;
}

.dropdown-menu{
  min-width:inherit
}

.myDropDown {
  width: 100%;
  min-width:inherit;
}

.mx-5 {
  margin-right: 16px;
  margin-left: 6px;
}

.force-scroll {

  overflow-y: scroll;

  height: 200px;

}

.border {
  border: 1px solid #4285F4;
}

.float-right {
  margin-left: auto;
  margin-right: auto;
}

.width-custom {
  width: 100%;

}

.mt-4 {

  margin-top: 20px;
}
